.swiper-wrapper.row {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

}

.cs-slider.has-shadow {
  padding-left: 12px;
  padding-right: 12px;
  margin: -25px -12px;
}

.cs-slider.has-shadow .swiper-wrapper {
  padding: 25px 0;
  align-items: stretch;
}

.cs-slider.has-shadow .swiper-wrapper .swiper-slide {
  display: flex;
}

.swiper-fade .swiper-slide {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.swiper-fade .swiper-slide-prev {
  opacity: 0;
}

.swiper-pagination-progressbar {
  --swiper-pagination-progressbar-size: 2px;
  background: var(--cs-border-color);
  position: relative;
  margin-top: 30px;
  margin-bottom: 24px;
  /* Large devices */
}

@media (max-width: 1199px) {
  .swiper-pagination-progressbar {
    margin-top: 20px;
  }
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--theme-color);
}

.slider-controller {
  margin-top: 60px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
  /* Large devices */
}

.slider-controller .button {
  width: calc(100% - 204px);
}

.slider-controller .slider-arrow {
  min-width: 56px;
}

@media (max-width: 1199px) {
  .slider-controller {
    margin-top: 45px;
  }
}

.swiper-pagination-bullets {
  position: relative;
  z-index: 3;
  text-align: center;
  margin: 45px 0 10px 0;
  padding-bottom: 20px;
  line-height: 20px;
  height: 16px;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  display: inline-block;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-horizontal-gap: 15px;
  margin: 5px 7px;
  opacity: 1;
  background-color: transparent;
  border: 1px solid var(--cs-border-color);
  color: #E4E4E4;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  /* Extra small devices */
}

@media (max-width: 575px) {
  .swiper-pagination-bullets .swiper-pagination-bullet {
    --swiper-pagination-bullet-horizontal-gap: 8px;
  }
}

.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--theme-color);
  border-color: var(--theme-color);
}

.slider-area {
  position: relative;
}

.slider-arrow {
  display: inline-block;
  padding: 0;
  background-color: var(--white-color);
  border: 1px solid var(--white-color);
  box-shadow: 0px 20px 20px rgba(204, 204, 204, 0.25);
  border-radius: 48px;
  color: var(--theme-color);
  position: absolute;
  top: 50%;
  left: var(--pos-x, -120px);
  width: var(--icon-size, 88px);
  height: var(--icon-size, 56px);
  line-height: var(--icon-size, 56px);
  font-size: var(--icon-font-size, 18px);
  margin-top: calc(var(--icon-size, 56px) / -2);
  z-index: 3;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 1500px) {
  .slider-arrow {
    display: none !important;
  }
}

.slider-arrow.style2 {
  width: var(--icon-size, 56px);
  height: var(--icon-size, 56px);
  background-color: var(--theme-color);
  color: var(--white-color);
  border-color: var(--theme-color);
}

.slider-arrow.style2:hover {
  background-color: var(--title-color);
  color: var(--white-color);
  border-color: var(--title-color);
  border-color: var(--title-color);
}

.slider-arrow.style3 {
  background-color: var(--white-color);
  color: var(--white-color);
  --icon-size: 48px;
  line-height: 48px;
  border-radius: 50%;
  border-color: var(--white-color);
}

.slider-arrow.style3:hover {
  background-color: var(--title-color);
  color: var(--white-color);
  border-color: var(--white-color);
}

.slider-arrow.style4 {
  background-color: transparent;
  color: var(--title-color);
  border-color: #E4E4E4;
  box-shadow: none;
  font-size: var(--icon-font-size, 22px);
}

.slider-arrow.style4:hover {
  background-color: var(--title-color);
  color: var(--white-color);
  border-color: var(--title-color);
  border-color: var(--title-color);
}

.slider-arrow.style5 {
  border: 1px solid var(--title-color);

}

.slider-arrow.style5:hover {
  border-color: var(--theme-color);
}

@media (max-width: 1500px) {
  .slider-arrow.style5 {
    display: inline-block !important;
  }
}

.slider-arrow.style6 {
  --icon-size: 64px;
  border: 1px solid #E1E4E5;
  box-shadow: none;

}

.slider-arrow.style6:hover {
  border-color: var(--theme-color);
}

@media (max-width: 1500px) {
  .slider-arrow.style6 {
    display: inline-block !important;
  }
}

.slider-arrow.style7 {
  --icon-size: 64px;
  border: 1px solid var(--title-color);
  box-shadow: none;
  background-color: transparent;

}

.slider-arrow.style7:hover {
  background-color: var(--title-color);
  border-color: var(--title-color);
}

@media (max-width: 1500px) {
  .slider-arrow.style7 {
    display: inline-block !important;
  }
}

.slider-arrow.default {
  position: relative;
  --pos-x: 0;
  margin-top: 0;
}

.slider-arrow.slider-next {
  right: var(--pos-x, -120px);
  left: auto;
}

.slider-arrow:hover {
  background-color: var(--theme-color);
  color: var(--white-color);
  border-color: var(--theme-color);
}

.slider-arrow:hover img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.arrow-margin .slider-arrow {
  top: calc(50% - 30px);
}

.arrow-wrap {
  position: relative;
}

.arrow-wrap .slider-arrow {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.4);
  /* Medium Large devices */
}

@media (max-width: 1299px) {
  .arrow-wrap .slider-arrow {
    display: none;
  }
}

.arrow-wrap:hover .slider-arrow {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* Extra large devices */
@media (max-width: 1500px) {
  .slider-arrow {
    --arrow-horizontal: -20px;
    --pos-x: -70px;
  }
}

/* Medium Large devices */
@media (max-width: 1399px) {
  .slider-arrow {
    --arrow-horizontal: 40px;
    --pos-x: -17px;
  }
}

.icon-box .slider-arrow {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.icon-box .slider-arrow:not(:last-child) {
  margin-right: 8px;
}


@media (max-width: 991px) {
  .slider-arrow {
    --icon-size: 40px;
    line-height: 38px;
    margin-right: 40px;
    font-size: 14px;
  }

  .slider-arrow.slider-next {
    margin-right: 0;
    margin-left: 40px;
  }

  .slick-dots {
    margin: 40px 0 0 0;
  }

  .icon-box .slider-arrow {
    margin-right: 0;
  }
}

.slick-3d-active {
  margin-left: -12%;
  margin-right: -12%;
}

.slick-3d-active .slick-list {
  padding-left: 30% !important;
  padding-right: 30% !important;
}

.slick-3d-active .slick-track {
  max-width: 100% !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-perspective: 100px;
  perspective: 100px;
}

.slick-3d-active .slick-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  width: 100% !important;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.slick-3d-active .slick-3d-next,
.slick-3d-active .slick-3d-prev,
.slick-3d-active .slick-3d-next2,
.slick-3d-active .slick-3d-prev2 {
  display: block;
}

.slick-3d-active .slick-current {
  opacity: 1;
  position: relative;
  display: block;
  z-index: 2;
}

.slick-3d-active .slick-3d-next {
  opacity: 1;
  -webkit-transform: translate3d(50%, 0, -21px);
  transform: translate3d(50%, 0, -21px);
  z-index: 1;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.slick-3d-active .slick-3d-next2 {
  opacity: 1;
  -webkit-transform: translate3d(40%, 0, -23px);
  transform: translate3d(40%, 0, -23px);
  z-index: 0;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.slick-3d-active .slick-3d-prev {
  opacity: 1;
  -webkit-transform: translate3d(-50%, 0, -21px);
  transform: translate3d(-50%, 0, -21px);
}

.slick-3d-active .slick-3d-prev .testi-card {
  box-shadow: none;
}

.slick-3d-active .slick-3d-prev2 {
  opacity: 1;
  -webkit-transform: translate3d(-40%, 0, -23px);
  transform: translate3d(-40%, 0, -23px);
}